:root {
    --bg-dark: rgba(0, 0, 0, 0.87);
}

/* Preferência do usuário para mudar esquema de cor */
@media (prefers-color-scheme: dark) {

    :root {
        --bg-dark: rgba(255, 255, 255, 0.87);
    }
    
    /* Cor do tema do sistema (preferencial) */
    html {
        color-scheme: dark;
    }
}

[light-dark-mode="light"] {
    color-scheme: light;
    --bg-dark: rgba(0, 0, 0, 0.87);

    /* Cor do ícone do tema escolhido */
    #theme-icon {
        color: #f39c12;
    }
}

[light-dark-mode="dark"] {
    color-scheme: dark;
    --bg-dark: rgba(255, 255, 255, 0.87);

    /* Cor do ícone do tema escolhido */
    #theme-icon {
        color: #f1c40f;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    font-family: "Inter", sans-serif;
}


.navbar {
    
}

.logo-icon {
    width: 30px;
    height: 30px;
}

.menu-links a {
    text-decoration: none;
}

.content {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.8rem;
    color: aliceblue;
    transition: background 0.3s ease, transform 0.2s ease;
}

.social-icons a {
    text-decoration: none;
}

.social-icon.github:hover {background: #181717;}
.social-icon.linkedin:hover {background: #0A66C2;}
.social-icon.twitter:hover {background: #1DA1F2;}

.social-icons-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_copyright {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_copyright a {
    text-decoration: none;

}